$border-color: #4a4a4a;
$today-border: 2px solid black;
$header-height: 36px;

.root_container {
	display: flex;
	flex-direction: column;
	> div {
		padding: 8px;
	}
}

.schedule_container {
	&.current {
		> .week_schedule{
			&.today {
				border: $today-border;
				font-weight: bold;
			}
		}
	}
	margin: 5px;
	display: flex
}

.day_of_week {
	min-height: $header-height;
}

.week_schedule {
	// outline: 1px dashed $border-color;
	.day_of_week {
		text-align: center;
	}
	min-width: 780px;
	overflow: scroll;
	display: grid;
	grid-template-columns: 100px repeat(7, 1fr);
}

.chore_title {
	// color: blue;
	padding: 4px;
}

.schedule_person {
	text-align: center;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	opacity: 0.7;
	margin: 1px;
	padding: 4px;
	&.Ivan {
		background-color: #c17ba0;
	}
	&.Germ {
		background-color: #e69138
	}
	&.Gina {
		background-color: #46bdc6
	}
}


.special_chores {
	padding: 7px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 3fr;
	flex-direction: column;
	> .header {
		text-align: center;
	}
	> .schedule_person {
		min-width: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		// vertical-align: middle;
		// flex-grow: 1;
		// display: table-cell;
	}
}

.week-1, .week1 {
	opacity: 0.65;
}

.today {
	border: $today-border;
	font-weight: bold;
	opacity: 1;
	&:hover { 
		background: rgba(255,255,255,0.8);
	}
}
